.navbar {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar-brand{
    color: #EC635E !important;
    text-transform: uppercase;
}

.logo-left{
    color: white;
    background-color: #305676; 
    padding: 6%;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.logo-right{
    color: white;
    background-color: #EC635E; 
    padding: 6%;
    border-radius: 00px 20px 20px 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.logo-left:hover, .logo-right:hover{
    padding: 7%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.nav-link {
    text-decoration: none;
    color: grey !important;
}

.nav-link:hover {
    color: #305676 !important;
}

.nav-link:active {
    color: #EC635E !important;
}

.navbar {
    min-height: 80px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.dropdownBtn{
    border: none;
    background: inherit;
}

.dropdownBtn:focus{
    outline: none;
}

.dropdownBtn:hover{
    cursor: pointer;
}

.dropdown{
    position: absolute;
    right: 10px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 10%;
}

.nav{
    border: none !important;
}

.no-style {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

.hide {
    display: none;
}